@use "../../base/mixins";

.landing {
	.header {
		background: linear-gradient(125deg, #FFC243, #FECC00 45%, #FFF6D1 100%);

		padding-top: 100px;

		@include mixins.mediaLaptop {
			padding-top: 92px;
		}
		@include mixins.mediaMobile {
			padding-top: 75px;
		}
	}

	.header-content {
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		padding-block: 80px;
	}

	.header-heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;

		text-align: center;
		line-height: 1.2;

		> h1 {
			font-weight: 200;
			font-size: 76px;
		}

		> h2 {
			font-size: 24px;
			max-width: 650px;
		}

		> img {
			display: none;
		}

		@include mixins.mediaMobile {
			text-align: left;

			> h1 {
				font-size: 48px;
			}

			> h2 {
				font-size: 20px;
			}

			> img {
				display: unset;
			}
		}
	}

	.header-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		line-height: 1.27;

		@include mixins.mediaLaptop {
			flex-direction: column;
			row-gap: 36px;
		}
	}

	.header-bottom-stats {
		display: grid;
		column-gap: 20px;
		grid-auto-flow: column;
		grid-template-columns: auto auto 50px auto auto 50px auto auto;

		@include mixins.mediaLaptop {
			grid-template-columns: auto auto 25px auto auto 25px auto auto;
		}

		@include mixins.mediaMobile {
			grid-template-columns: auto auto;
			grid-auto-flow: row;
			align-items: center;

			> *:nth-child(3n) {
				display: none;
			}
		}
	}

	.header-bottom-stats-number {
		font-weight: 900;

		@include mixins.mediaMobile {
			font-weight: 400;
			font-size: 40px;
			justify-self: end;
		}
	}

	.header-bottom-image {
		@include mixins.mediaMobile {
			display: none;
		}
	}
}